.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.container a {
  text-align: center;
  display: block;
  width: 200px;
}

.container a:first-child {
  margin-bottom: 15px;
}

