.container {
  background: #f9f9f9;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 540px;
  padding: 30px;
  color: #5d5d5d;
}

.mnemonic{
  margin-bottom: 30px;
}

.proceed {
  width: 100%;
}

.regenerate {
  width: 100%;
  margin-bottom: 15px !important;
}


