.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 380px;
  padding-top: 15%;
}

.field{
  width: 100% !important;
}
.fieldErrors {
  width: 100% !important;
  text-align: left;
  color: #f44336;
}

.buttonSubmit{
  margin-top: 40px !important;
  width: 100%;
}


