.container {

  height: 100%;
}

.container div{
  display: flex;
  justify-content:space-between;
  height: 100px;
  flex-direction: column;
  padding-top: 30%;
  align-items: center;
}

.container a {
  display: block;
  min-width: 178px;
  text-align: center;
}
.container{

}
